.main {
  padding: 36px 16px;
  max-width: 1240px;
  margin: 0 auto;
}

.title {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 32px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.7px;
  padding: 6px 14px;
  border-radius: 5px;
  text-align: center;
  font-size: 36px;
}
